.nav {
    display: flex;
    align-items: center;
    border: 3px solid #333333;
    background-color: #333333;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.textcalcu {
    color: white;
    background-color: #333333;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 20px;
}

.textcalcu:hover {
    width: 155px;
    background-color: #4CB050;
}

.botoes {
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
}

.botoes:hover {
    background-color: #4CB050;
}